<div class="row">
  <div class="well col-xs-8">
  <%= render 'shared/errors', obj: @comment%>
    <%= form_for([@post, @comment], :html => { class: "form", role: "form" }) do |f| %>
      <div class='form-group'>
        <%= f.text_area :body, rows: 2, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit class: 'btn btn-primary btn-large' %>
      </div>
      <span class="picture">
        <%= f.label :picture, 'Upload a photo' %>
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png,image/jpg' %>
      </span>
    <% end %>
  </div>
</div>