<div class="container">
  <h2 align="left "><%= @user.name %></h2>
  <p>Email: <%= @user.email %></p>
  <% if @user == current_user %>
    <p><%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-xs btn-primary" %></p>
    <%= render 'posts/form' %>
  <% else %>
    <% if current_user.friends_with(@user) %>
      <p><span class="label label-success">Friends!</span><p>
    <% elsif @user.requested_by(current_user) %>
      <p><span class="label label-primary">Request Sent</span></p>
    <% else %>
      <p><%= link_to 'Send Friend Request', user_friendships_path(@user), method: :post, class: "btn btn-xs btn-primary" %></p>
    <% end %>
  <% end %>
</div>

<div class="container ">
  <%= render @user.posts if @user.posts.any? %>
</div>