<h2 align="left "><%= @user.name %></h2>
<p>
  Email: <%= @user.email %>
</p>
<% if @user == current_user %>
  <%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-xs btn-primary" %>
  <%= render 'posts/form' %>
<% end %>


<%= render @user.posts if @user.posts.any? %>