<div class="container">
  <% if current_user == @user %>
    <h2>Friend Requests</h2>
    <% if @friend_requests.empty? %>
      <p>No Requests</p>
    <% else %>
      <div class="list-group">
      <% @friend_requests.each do |request| %>
        <li class="list-group-item">
          <%= request.friend.name %> wants to be friends! 
          <%= link_to "Accept", user_friendship_path(@user, request, status: 'active'), method: :patch, class: "btn btn-xs btn-primary" %>
          <%= link_to "Decline", user_friendship_path(@user, request, message: 'Request deleted'), method: :delete, class: "btn btn-xs btn-danger", data: { confirm: "Are you sure?" } %>
        </li>
      <% end %>
      </div>
      <hr class='solid'>
    <% end %>
  <% end %>
  <h2>Friends</h2>
  <% if @friendships.empty? %>
    <div><%= link_to "No friends yet, why don't you find some here", users_path %></div>
  <% end %>
  <div class="list-group">
    <% @friendships.each do |friendship| %>
      <li class="list-group-item">
        <%= link_to friendship.friend.name, user_path(friendship.friend) %>
        <% if current_user == @user %>
          <%= link_to "Unfriend", user_friendship_path(@user, friendship, message: "Unfriended #{friendship.friend.name}"), method: :delete, class: "btn btn-xs btn-danger", data: { confirm: "Are you sure?" } %>
        <% end %>
      </li>
    <% end %>
  </div>
</div>