

<div class="row">
  <div class="well col-xs-8">
  <%= render 'shared/errors', obj: @post%>
    <%= form_for([@user, @post], :html => { class: "form", role: "form" }) do |f| %>
      <div class='form-group'>
        <%= f.text_area :body, rows: 2, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit class: 'btn btn-primary btn-large' %>
      </div>
      <span class="picture">
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png,image/jpg' %>
      </span>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>