<% if post.valid? %>
  <div class="well col-xs-8">
    <div class="content">
      <p><%= post.body %></p>
      <%= image_tag post.picture.url if post.picture? %>
    </div>
    <%= link_to post.user.name, post.user %> posted: <%= post.created_at_pst %>
    <%= link_to pluralize(post.comments.count, 'comment'), user_post_path(post.user, post) %>
    <% if current_user == post.user %>
      <%= link_to "Delete", user_post_path(current_user, post), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default btn-xs" %>
    <% end %>
    <%= render 'likes/like', post: post%>
  </div>
<% end %>
