<div class="row">
  <div class="well col-xs-8">
    <div class="content">
      <p><%= @post.body %></p>
      <%= image_tag @post.picture.url if @post.picture? %>
    </div>
    <i>Posted: <%= @post.created_at_pst %> </i>
    <%= render 'likes/like', post: @post%>
  </div>
</div>
<%= render 'comments/form'%>
<% if @post.comments.any? %>
  <%= render @post.comments.desc %>
<% end %>
