<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='navbar'>
      <%= link_to 'Home', root_path %>
      <% if user_signed_in? %>
        Signed in as <%= current_user.name %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign Up", new_user_registration_path %> or 
        <%= link_to "Sign In", new_user_session_path %>
      <% end %>
    </div>
    <% flash.each do |type, message| %>
      <%= content_tag :div, message, id: "flash_#{type}"%>
    <% end %>
    <%= yield %>
  </body>
</html>
